<%= form_for(@list, html: { class: "form-horizontal" }) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :name, class: "hidden" %>
      <%= f.text_field :name, class: "form-control", placeholder: "List name" %>
    </div>
  </div>

  <%= f.fields_for :tasks do |task| %>
  <div class="row">
    <div class="form-group col-md-4">
      <%= task.label :name, class: "hidden" %>
      <%= task.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-5">
      <%= task.label :due %>
      <%= task.datetime_select :due, ampm: true, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <%= task.label :completed %>
      <%= task.check_box :completed, class: "checkbox" %>
    </div>
  </div>
  <% end %>

  <div class="actions form-group">
    <%= f.submit "Submit", class: "btn btn-default" %>
    <%= button_to "Delete list", list_path, class: "btn btn-warning", data: { confirm: "Are you sure you want to delete \"#{@list.name}\"?" }, method: :delete %>
  </div>
<% end %>
