<p id="notice"><%= notice %></p>

<table>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td>
          <% list.tasks.each do |task| %>
            <p><%= task.name %></p>
            <p><%= task.due %></p>
            <p><%= task.completed %></p>
          <% end %>
        </td>
        <td><%= link_to 'Show', list %></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: "Are you sure you want to delete \"#{list.name}\"?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_list_path %>
