<h1>
  <%= @list.name %>
</h1>

<ul>
  <% @list.tasks.each do |task| %>
  <% if task.completed %>
  <s>
    <% end %>
    <li><%= task.name %></li>
    <small>due <%= task.due %></small>
    <% if task.completed %>
  </s>
  <% end %>
  <% end %>  
</ul>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
