<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { class: "form-horizontal", method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <div class="field col-xs-3">
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>
  </div>

  <div class="form-group">
    <div class="actions col-xs-3">
      <%= f.submit "Resend confirmation instructions", class: "btn btn-default" %>
    </div>
  </div>
<% end %>

<div class="shared-links">
  <%= render "devise/shared/links" %>  
</div>
